# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [121]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [123]:
df[(df["Type 1"] == "Grass") | (df["Type 2"] == "Grass")]["HP"]

0      45
1      60
2      80
3      80
48     45
       ..
783    59
784    65
785    55
786    75
787    85
Name: HP, Length: 95, dtype: int64

In [125]:
#Set the hypothesis

#H0: Dragon_P_HP < Grass_P_HP
#H1: Dragon_P_HP > Grass_P_HP

alpha = 0.05

dragon_p_hp = df[(df["Type 1"] == "Dragon") | (df["Type 2"] == "Dragon")]["HP"]
grass_p_hp = df[(df["Type 1"] == "Grass") | (df["Type 2"] == "Grass")]["HP"]


st.ttest_ind(dragon_p_hp,grass_p_hp, equal_var=False)
stat = st.ttest_ind(dragon_p_hp,grass_p_hp, equal_var=False, alternative='greater')
stat

TtestResult(statistic=4.097528915272702, pvalue=5.090769061176927e-05, df=77.58086781513519)

In [39]:
if stat[1] > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypotesis")

We reject the null hypotesis

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [113]:
df["Total"] = df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"]

In [33]:
#Set the hypothesis

#H0: Legendary_total = Normal_total
#H1: Normal_total != Legendary_total

alpha = 0.05

legendary_total = df[df["Legendary"] == True]["Total"]
normal_total = df[df["Legendary"] == False]["Total"]


stat = st.ttest_ind(legendary_total,normal_total, equal_var=False)
stat

TtestResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47, df=102.79988763435729)

In [35]:
if stat[1] > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypotesis")

We reject the null hypotesis

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [41]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [43]:
#Set the hypothesis

#H0: house_closel CHEAPER THAN house_far
#H1: house_close MORE EXPENSIVE THAN house_far

In [ ]:
# d = √[(x2– x1)2 + (y2 – y1)2]

In [65]:
import numpy as np
import math

school_longitude = -118
school_latitude = 37

df["distance_school"] = (np.sqrt(np.square(df["longitude"] - school_longitude) + np.square(df["latitude"] - school_latitude)))

In [69]:
hospital_longitude = -122
hosital_latitude = 34

df["distance_hospital"] = (np.sqrt(np.square(df["longitude"] - hospital_longitude) + np.square(df["latitude"] - hosital_latitude)))

In [79]:
df_close = df[(df["distance_hospital"]< 0.5) | (df["distance_school"]< 0.5)]
df_far = df[(df["distance_hospital"]> 0.5) & (df["distance_school"]> 0.5)]

In [85]:
df_close

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,distance_school,distance_hospital
4523,-118.05,36.64,34.0,2090.0,478.0,896.0,426.0,2.0357,74200.0,0.363456,4.751010
5596,-118.18,37.35,16.0,3806.0,794.0,1501.0,714.0,2.1212,108300.0,0.393573,5.080837
5597,-118.18,36.63,23.0,2311.0,487.0,1019.0,384.0,2.2574,104700.0,0.411461,4.637812
6776,-118.30,37.17,22.0,3480.0,673.0,1541.0,636.0,2.7500,94500.0,0.344819,4.872258
6904,-118.31,36.94,35.0,2563.0,530.0,861.0,371.0,2.3250,80600.0,0.315753,4.718019

In [87]:
df_far

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,distance_school,distance_hospital
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,4.638125,7.692347
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,4.384165,7.540617
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,4.773856,7.446456
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,4.801510,7.438716
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,4.850753,7.442432
...,...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,7.211380,6.957298
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,7.275232,7.064630
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,7.944533,8.170410
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,7.920227,8.132035
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,7.270083,6.949396

In [117]:
houses_far = df_far["median_house_value"]
houses_close = df_close["median_house_value"]

stat = st.ttest_ind(houses_close,houses_far, equal_var=False,alternative='greater')
stat

TtestResult(statistic=-17.174167998688404, pvalue=0.9999738999071939, df=4.145382282040222)

In [119]:
alpha = 0.05

if stat[1] > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypotesis")

We are not able to reject the null hypothesis